BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
TabWidth: 2
ColumnLimit: 120
IndentGotoLabels: true
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: true
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: false
AllowShortLambdasOnASingleLine: All
PackConstructorInitializers: CurrentLine
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: Never
FixNamespaceComments: false
Standard: c++20
