# Project exclude paths
/merger/cmake-build-debug/
/merger/cmake-build-release/
/main.cpp
/brute.cpp
/validate.cpp
/gen.cpp
input.txt
build
output/
/cf/789B.cpp
/cf/789D.cpp
/cf/794B.cpp
/cf/808D.cpp
/cf/829D.cpp
/cf/857D.cpp
/cf/865D.cpp
/cf/872D.cpp
/cf/880B.cpp
/cf/902C.cpp
/cf/930B.cpp
/cf/930D.cpp
/cf/932D.cpp
/cf/934B.cpp
/cf/936D.cpp
/cf/975D.cpp
